@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  padding: 30px;
  color: #dedede;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #1E1E1E;
  padding: 20px 30px;
  border-radius: 10px;
}

h1{
  text-align: center;
}

h2{
  margin-bottom: 10px;
  font-size: 18px;
}

h3{
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
}

p{
  margin: 10px 0px;
}

input{
  box-sizing: border-box;
}

button {
  background-color: #4422EF;
  color: #dedede;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 0.875rem;
}

button:hover {
  box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}

.create-task{
  margin-top: 10px;
}

.complete{
  background-color: #23EEA7;
}

.remove{
  background-color: #F61156;
}

.todo-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #42434C;
}

.todo {
  background-color: #232323;
  box-shadow: 0 0 10px rgba(0,0,0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo .title{
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.todo .description{
  margin-left: 10px;
  font-size: 14px;
  max-width: 400px;
  color: rgba(255, 255, 255, 0.3);
}

.todo .category {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 13px;
  background-color: #383838;
  color: #dedede; 
  padding: 5px 10px; 
  display: inline-block; 
  border-radius: 10px; 
}

.todo-form{
  padding-bottom: 1.5rem;
}

input, select{
  background-color: #1E1E1E;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #383838;
  border-radius: 5px;
  width: 100%;
  color: #dedede;
  font-size: 14px;
}

.filter,
.search {
  border-bottom: 1px solid #42434C;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.task-input:focus,
.filter-input:focus,
.search-input:focus {
  border: 1px solid #4422EF;
  outline: none;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div{
  flex: 1 1 0
}

.github-button{
  color: #dedede;
  font-size: 16px;
  text-decoration: none;
}

.github-button:hover{
  text-decoration: underline;
}